
.siteNav ul{
	list-style-type:none;
	margin:0;
	Padding:0;
	background-color:black;
	position:fixed;
	width:100%;
	top:0;
}
.siteNavBar{
	
}
.siteNavBar li{
	float:left;
	
}
.siteNavBar li a{
	display:block;
	padding:2rem;
	color:white;
}

.pageNav{
	float:left;
	max-width:400;
}

.content{
	
}