h1{
    font-size:1.5em;
    font-family: sans-serif;
}

p{
    font-size: 1.0em;
    font-family: sans-serif;
    
}

.body{
    margin: 0;
    padding: 0;
    
}

.siteNav{
    margin: 0;
    padding: 0;
    display:block;
}
.siteNavBar{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.item{
	float: left;
}

.item a{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.item a:hover{
	background-color: #111;
}
.activeSection{
	background-color:#4CAF50;
}

.content{
	padding:0;
    display:block;
}
.contentBox{
    width:400px;
    display:inline-block;
    padding:5px;
    font-size: 100%;
}

.timeButton{
    display:none;
    border:none;
    background-color: #333;
    border-width: 1;
    border-color:#333;
    color:white;
    padding:20px;  
    cursor:pointer;
}

.footer{
    width: 100%;
    display:block;
    margin:0;
    padding:0;
    
}

.footerText{
    color:white;
    background-color: #333;
    display:block;
    padding:5px;
    font-size: 0.7em;
    text-align: center;
}
