
.siteNav{
	
}
.siteNavBar{
	list-style-type:none;
	margin:0;
	Padding:0;
	background-color:black;
	position:fixed;
	overflow:hidden;
	
}
.item{
	float:left;
}

.item a{
	display:block;
	padding:10px;
	color:white;
	text-decoration:none;
	text-align:center;
}

.pageNav{
	float:left;
	max-width:400;
}

.content{
	
}